workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_COMMIT_BRANCH # execute a branch pipline when there isn't a merge request

image: docker.pkgs.adsrvr.org/ttd-pipeline-prod/ttd-pipeline/dotnet/core/sdk-8.0.301-dev-infra:1.2.7

default:
  id_tokens:
    KUBEINFO_ID_TOKEN:
      aud: kubeinfo.adsrvr.net
    DEVINFRA_VAULT_ID_TOKEN:
      aud: https://vault.adsrvr.org
    SPIFFE_GITLAB_ID_TOKEN:
      aud: https://spire.prod.adsrvr.net

include:
  - project: thetradedesk/teams/devacc/TTD.DevInfra
    file:
      - GitlabShared/gitlab-ci-cloudsmith.yml
    ref: master

variables:
  APP: ttd-auction-server
  AUCTION_SERVER_MAIN: ttd-auction-server-main

stages:
  - build

build:
  stage: build
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:28.3.3-dind@sha256:c0872aae4791ff427e6eda52769afa04f17b5cf756f8267e0d52774c99d5c9de
      alias: docker
  script:
    - !reference [.fetch-cloudsmith-token, script]
    - |
      if [[ "${CI_COMMIT_BRANCH}" == "${AUCTION_SERVER_MAIN}" ]]
      then
        export PUSH_DOCKER_REGISTRY=${DOCKER_PRODUCTION_CLOUDSMITH}
      else
        export PUSH_DOCKER_REGISTRY=${DOCKER_DEV_CLOUDSMITH}
      fi
    - |
      DEFAULT_IMAGE=${APP}:latest
      docker build --platform linux/amd64 -t ${PUSH_DOCKER_REGISTRY}/${DEFAULT_IMAGE} .
      docker push --all-tags ${PUSH_DOCKER_REGISTRY}/${APP}
  rules:
    - if: '$CI_COMMIT_BRANCH != $AUCTION_SERVER_MAIN'
      when: manual
      allow_failure: true
    - if: '$CI_COMMIT_BRANCH == $AUCTION_SERVER_MAIN'
      when: always
